Your pizza will have

<% sauce_final.each do |sauce_value| %>
    <p> <%= sauce_value.shift %> </p>
    <img src = "./img/<%= sauce_value %>.png">
<% end %>

<% meat_final.each do |meat_value| %>
    <p> <%= meat_value.shift %> </p>
    <img src = "./img/<%= meat_value %>.png">
<% end %>

<% veg_final.each do |veg_value| %>
    <p> <%= veg_value.shift %> </p>
    <img src = "./img/<%= veg_value %>.png">
<% end %>