Alright, so we're sending the pizza to <%= take_pizza_here %>

Your pizza will have

<% size_final.each do |size_value| %>
    <% size_value = size_value.shift%>
    <p> <%= size_value %> </p>
<% end %>

<% sauce_final.each do |sauce_value| %>
    <% sauce_value = sauce_value.shift%>
    <p> <%= sauce_value %> </p>
    <img src = "./img/<%= sauce_value %>.png">
<% end %>

<% meat_final.each do |meat_value, key| %>
   <% if meat_value == key %>
        <p> <%= meat_value %> </p>
        <img src = "./img/<%= meat_value %>.png">
        <% end %>
<% end %>

<% veg_final.each do |veg_value, key| %>
    <% if veg_value == key %>
        <p> <%= veg_value %> </p>
        <img src = "./img/<%= veg_value %>.png">
    <% end %>
<% end %>