Your pizza will have

<% sauce_final.each do |sauce_value| %>
    <% sauce_value = sauce_value.shift%>
    <p> <%= sauce_value %> </p>
    <img src = "./img/<%= sauce_value %>.png">
<% end %>

<% meat_final.each do |meat_value| %>
    <% meat_value = meat_value.shift %>
    <p> <%= meat_value %> </p>
    <img src = "./img/<%= meat_value %>.png">
<% end %>

<% veg_final.each do |veg_value| %>
    <% veg_value = veg_value.shift%>
    <p> <%= veg_value %> </p>
    <img src = "./img/<%= veg_value %>.png">
<% end %>